html {
	height: 100%;
}
/* HTML elements */
body {
	background-color: rgb(233, 232, 232);
	background-image: linear-gradient(#eea455, #f38d08);
	font-size: 1.125rem;
	font-family: 'Roboto', sans-serif;
}
h1 {
	font-size: 2.25rem;
	font-family: 'Playfair Display', serif;
	margin-bottom: 1rem;
}
p {
	margin-bottom: 1rem;
	line-height: 1.5rem;
}

.container {
	width: 1024px;
	min-height: 300px;
	margin: 0 auto;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 1rem;
	padding-bottom: 1rem;
}
.mainNav a {
	color: rgb(0, 0, 0);
	text-decoration: none;
	margin-left: 1rem;
	margin-right: 1rem;
}

/* Main section */
main {
	min-height: 300px;
	display: flex;
	align-items: center;
}
.heroInfo {
	flex: 2;
}
.heroImage {
	flex: 1;
	padding-right: 25px;
}

/* Cards section */
.cards {
	display: flex;
	justify-content: space-between;
}

.card1 {
	background-color: rgb(139, 41, 90);
	background-image: url(images/image-background-card1.jpg);
	background-size: cover;
	background-position: bottom;
	min-height: 250px;
	width: 30%;
}
.card2 {
	background-color: rgb(45, 20, 33);
	background-image: url(images/image-background-card2.jpg);
	background-size: cover;
	background-position: bottom;
	min-height: 250px;
	width: 30%;
}
.card3 {
	background-color: rgb(91, 28, 59);
	background-image: url(images/image-background-card3.jpg);
	background-size: cover;
	background-position: bottom;
	min-height: 250px;
	width: 30%;
}
