.container {
	width: 1024px;
	min-height: 300px;
	margin: 0 auto;
}

body {
	background-image: linear-gradient(#f3bd83, #f38d08);
	font-size: 1.125rem;
	font-family: 'Roboto', sans-serif;
}
h1 {
	text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.541);
	font-size: 2.75rem;
	font-family: 'Playfair Display', serif;
	margin-bottom: 1rem;
}
h2 {
	font-size: 2rem;
	font-family: 'Playfair Display', serif;
	margin-bottom: 1rem;
}
p {
	color: rgb(34, 34, 34);
	margin-bottom: 1rem;
	line-height: 1.5rem;
}

/* Header section */
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.mainNav a {
	color: rgb(0, 0, 0);
	text-decoration: none;
	margin: -1px;
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: rgba(250, 133, 8, 0.105);
	border: 1px solid black;
}

.mainNav a:hover {
	background-color: orangered;
	transition-duration: 1s;
}

/* Main section */
main {
	min-height: 300px;
	display: flex;
	align-items: center;
	margin-bottom: 1rem;
	box-sizing: border-box;
	padding: 2rem 1rem 2rem 1rem;
	color: rgb(0, 0, 0);
	border: 1px solid black;
}

.heroInfo {
	flex: 2;
}
.heroImage {
	flex: 1;
	padding-right: 25px;
}
.myButton {
	border: 1px solid black;
	padding: 0.5rem;
	border-radius: 3px;
	color: black;
	text-decoration: none;
	display: inline-block;
	margin-top: 10px;
	background-color: rgb(255, 115, 0);
	box-shadow: 1px 1px 5px rgba(0, 0, 0, .5);
}
.myButton:hover {
	background-color: orangered;
	transition-duration: 1s;
}

/* Cards section */
.cards {
	display: flex;
	justify-content: space-between;
	text-align: center;
}

.card1,
.card2,
.card3 {
	box-shadow: 1px 1px 6px rgba(0, 0, 0, .5);
	border-radius: 5px;
	background-size: cover;
	background-position: bottom;
	min-height: 250px;
	width: 30%;
	box-sizing: border-box;
	padding: 10px;
}

.card1 {
	background-image: url(images/image-background-card1.jpg);
	background-blend-mode: lighten;
}
.card2 {
	background-image: url(images/image-background-card2.jpg);
}
.card3 {
	background-image: url(images/image-background-card3.jpg);
}

.cards h2 {
	color: white;
	margin-top: 20px;
}
.card3 h2 {
	margin-top: 12px;
}

.cards p {
	color: white;
	font-size: 0.85rem;
	font-weight: 100;
	line-height: 1.2rem;
	background-color: rgba(0, 0, 0, 0.598);
	padding: 15px 3px 15px 3px;
	border-top: white 1px solid;
}

/* Cards Section - Font awesome Icons */
.fas.fa-phone-square {
	background-color: black;
	color: orange;
	font-size: 6.5rem;
	margin-top: 8px;
}

.cards i {
	background-color: orange;
	color: black;
	border-radius: .5rem;
	font-size: 5.5rem;
	margin-top: 15px;
}

.fa-phone-square:hover {
	color: orangered;
	transition-duration: 1s;
}
.fa-wrench:hover {
	background-color: orangered;
	transition-duration: 1s;
}
.fa-bicycle:hover {
	background-color: orangered;
	transition-duration: 1s;
}

/* Testimonials */
.testimonials {
	margin-top: 1rem;
	background-color: black;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 5rem;
	padding-bottom: 3rem;
}

.tbox {
	width: 45%;
	box-sizing: border-box;
	padding: 2rem;
	border: 1px solid rgb(255, 255, 255);
	margin-top: 3rem;
	margin-left: 1rem;
	margin-right: 1rem;
}
.testimonials p {
	color: white;
}
.testimonialTitle {
	margin-top: 9rem;
}
