html {
	height: 100%;
}
/* HTML elements */
body {
	background-color: rgb(233, 232, 232);
	background-image: linear-gradient(#eea455, #f38d08);
	font-size: 1.125rem;
	font-family: 'Roboto', sans-serif;
}
h1 {
	font-size: 3.25rem;
	font-family: 'Playfair Display', serif;
	margin-bottom: 1rem;
}
h2 {
	font-size: 2rem;
	font-family: 'Playfair Display', serif;
	margin-bottom: 1rem;
}
p {
	margin-bottom: 1rem;
	line-height: 1.5rem;
}

.container {
	width: 1024px;
	min-height: 300px;
	margin: 0 auto;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 1rem;
	padding-bottom: 1rem;
}
.mainNav a {
	color: rgb(0, 0, 0);
	text-decoration: none;
	margin-left: 1rem;
	margin-right: 1rem;
}

/* Main section */
main {
	min-height: 300px;
	display: flex;
	align-items: center;
}
.heroInfo {
	flex: 2;
}
.heroImage {
	flex: 1;
	padding-right: 25px;
}

/* Cards section */
.cards {
	display: flex;
	justify-content: space-between;
	text-align: center;
}

.card1,
.card2,
.card3 {
	background-size: cover;
	background-position: bottom;
	min-height: 250px;
	width: 30%;
}
.card1 {
	background-image: url(images/image-background-card1.jpg);
}
.card2 {
	background-image: url(images/image-background-card2.jpg);
}
.card3 {
	background-image: url(images/image-background-card3.jpg);
}

.cards h2 {
	color: white;
	margin-top: 20px;
}
.card3 h2 {
	margin-top: 12px;
}

.cards p {
	color: white;
	font-size: 0.85rem;
	font-weight: 100;
	line-height: 1.2rem;
}

/* Cards Section - Font awesome Icons */
.fas.fa-phone-square {
	color: white;
	font-size: 6.5rem;
	margin-top: 8px;
}
.fas.fa-bicycle {
	background-color: white;
	border-radius: .5rem;
	font-size: 5.5rem;
	margin-top: 15px;
}
.fas.fa-wrench {
	background-color: white;
	border-radius: .5rem;
	font-size: 5.5rem;
	margin-top: 15px;
}
